
<ng-select class="custom" [(ngModel)]="selectedCar">
  <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
</ng-select>

<!--Using items input-->
<ng-select class="custom" [items]="cars" 
          bindLabel="name"
          bindValue="id"
          [multiple]="true"
          [(ngModel)]="selectedCar">
</ng-select>


<button type="submit">Submit</button>

<button [ngClass]="{ 'btn-yellow': true }">Yellow Button</button>
<button [ngClass]="{'btn-red': true }">Red Button</button>



